<div class="question">
  <h4><%= @question.body %></h4>
  <div class="question-separator"></div>
  <ul class="choice-list">
    <% @question.choices.each do |c| %>
      <li><strong><%= c.option %>:</strong> <%= c.value %></li>
  <% end %>
  </ul>
</div>
