// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
	list-style-type: none;
}

li.q-item {
	padding: 12px;
	//border-radius: 20px;
	margin-bottom: 5px;
}

.add-question {
	border-style: solid;
	border-width: 2px;
	padding: 10px;
}
